
/* General setup */



* {

  box-sizing: border-box;

}



body {

  margin: 0 auto;

  min-width: 1000px;

  max-width: 1400px;

}



/* Layout */



section {

  float: left;

  width: 50%;

}



aside {

  float: left;

  width: 30%;

}



nav {

  float: left;

  width: 20%;

}



footer {

  clear: both;

}



header, section, aside, nav, footer {

  padding: 20px;

}



/* header and footer */



header, footer {

  border-top: 5px solid rgb(73, 138, 158);

  border-bottom: 5px solid rgb(73, 138, 158);

}



/* WRITE YOUR CODE BELOW HERE */
h1, p {
  font-family: 'Ubuntu', sans-serif;
  forced-color-adjust: rgb(71, 71, 71);
}
a {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
}

a:link {
  color: rgb(211, 105, 7);
}

a:visited {
  color: rgb(117, 58, 3);
}

a:focus {
  border-bottom: 1px solid;
  background: rgb(117, 58, 3);
}

a:hover {
  border-bottom: 1px solid;
  background: rgb(165, 233, 210);
}

a:active {
  background: #265301;
  color: #CDFEAA;
}

a:after{
  color: blue;
}

h1{
  text-align: center;
}
.boton-personalizado {
  text-decoration:none;
font-weight: 600;
font-size: 20px;
color:#000000;
padding-top:15px;
padding-bottom:15px;
padding-left:40px;
padding-right:40px;
background-color: transparent;
border-width: 3px;
border-style: solid;
border-color: #000000;
  }